@media only screen and (min-width: 950px) {
  header img {
    width: 100%;
  }

  header h1 {
    font-size: 85px;
  }
  h2 {
    font-size: 50px;
  }

  nav {
    background-color: #c3171d;
    width: 100%;
    overflow: auto;
  }

  nav button {
    display: none;
    
  }

  nav ul.hide {
    display: flex;
  }

  nav ul {
    margin-left: 2%;
  }

  nav ul li {
    flex: 1 1 100%;
  }

  nav ul li a {
    border: none;
    border-right: 1px solid rgba(01, 01, 01, 0.03);
    padding: 0.6rem 1.7rem;
  }

  .contentbox {
    display: grid;
    grid-template-columns: 1fr 1fr;  
    column-gap: 1em;
    margin: 10px auto;
    border: 1px solid #000;
    padding: 15px;
  }
   .locals {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
  }

  main {
    margin-left: 20px;
    margin-right: 20px;
  }

  .about {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;

  }
  .weathersummary {
    display:grid;
    grid-template-columns: auto auto;

  
  
  figure img { 
    width: 500px; 
    height: auto; 
    
  }

 
  section .contact {
    display: grid;
    grid-template-columns: 1fr 1fr;  
    column-gap: 1em;
  }
  
  
  .social {      
   display: flex;
   align-items: center;
   justify-content: center; 
  }
  
  .social-icon {
    display: inline-block; 
    margin: 0 5px;
    margin-bottom: 10px;
  } 
}