@media only screen and (min-width: 600px) {
  header img {
    width: 100%;
  }
  header h1 {
    font-size: 65px;
  }

.local {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
}

figure img { 
  width: 500px; 
  height: auto; 
  
}