@import url("https://fonts.googleapis.com/css2?family=Estonia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");


* {
  box-sizing: border-box;
  padding: 0;
  line-height: 1.1em;
}

body {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  color: #003561;
 
}

h1,
h2 {
  font-family: "Estonia", cursive;
  font-size: 50px;
}

h3,
h4 {
  font-family: "Lato", sans-serif;
}

header {
  
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  font-size: 70px;
}

main {
  margin-left: 10px;
  margin-right: 10px;
}

nav button {
  margin-right: 90%;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: #ffc30d;
}

nav {
  background-color: #b40f0f;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 2%;
  text-decoration: none;
  color: #ffc30d;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul li.active a {
  background-color: rgba(184, 196, 187, 0.2);
  color: black;
}

nav ul li a:hover {
  background-color: rgba(184, 196, 187, 0.4);
}

nav ul.hide {
  display: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

img {            /* use for very large image scale to correct size */
  max-width: 100%;
  max-height: 100%;
  display: flex; /* use display block to remove extra space below image */
}


/*the  parent container*/
.herodiv {
  margin: 0 auto;
  position: relative;
  
}
.welcome {
  border: 1px solid #003561;
  box-shadow: 0 0 50px rgb(55, 56, 58);
  padding-left: 10px;
  padding-right: 10px;
  margin: 20px 10px;
}   
/*the child of .herodiv*/
.weathersummary {
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 20px 10px;
  border: 1px solid #003561;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0 0 50px rgb(55, 56, 58);
  background: hsla(17, 100%, 53%, 1);

  background: linear-gradient(90deg, hsla(17, 100%, 53%, 0.2) 2%, hsla(196, 68%, 38%, 0.1) 90%);

  background: -moz-linear-gradient(90deg, hsla(17, 100%, 53%, 0.2) 2%, hsla(196, 68%, 38%, 0.1) 90%);

  background: -webkit-linear-gradient(90deg, hsla(17, 100%, 53%, 0.2) 2%, hsla(196, 68%, 38%, 0.1) 90%);

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF510D", endColorstr="#1F7EA1", GradientType=1 );
}


.label {
  grid-column: 1;
  line-height: 30%;
  
}

.value {
  grid-column: 2;
  line-height: 30%;
 
}
#currently {
  text-transform: capitalize;
}

.eventBorder {
  border: 1px solid #003561;
  padding-left: 10px;
  margin: 20px 10px;
  box-shadow: 0 0 50px rgb(55, 56, 58);
}
.article {
  padding-left: 20px;
  padding-right: 20px;
}

.article-img2 {
  display: grid;
  justify-items: center;
  align-items: center;
  margin: 25px;
  padding: 5px;
  box-shadow: 0 0 20px #999;
}

.local {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  
  
}
.deals {
  text-align: center;
  font-size: 60px;
}

figure {
  margin: 0.25rem;
  padding: 1rem;
  background-color: #eee;
  border: 1px solid #bbb;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}



figure img { 
  width: 500px; 
  height: auto; 
  margin: 0;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 5px #999;
  
}




.contentbox {
  display: block;
  margin: 10px auto;
  border: 1px solid #003561;
  padding: 15px;
}

.map-responsive {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

.map-responsive iframe{
  left:0;
  top:0;
  margin-top: 15px;
  height:80%;
  width:100%;
  position:absolute;
  box-shadow: 0 0 50px rgb(55, 56, 58);

}

.contact {
  position: relative;
  text-align: center;  
}


.social {      
 display: flex;
 align-items: center;
 justify-content: center; 
}

.social-icon {
  display: inline-block; 
  margin: 0 5px;
  margin-bottom: 10px;
}


footer {
margin: 0 auto;
text-align: center;
background-color: #b40f0f;
color: #ffc30d;
padding-top: 20px;
height: 6em;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #003561; /* Green */
  border: none;
  color: #ffc30d;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: 10px 5px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
    color: white;
}

form fieldset {
  margin: 2rem 0;
  border: 1px solid black;
  box-shadow: 2px 10px 12px 0 #003561;; 
  padding: 0.5rem 2%;
}

form legend {
  font-size: 18px;
  font-weight: bold;
  margin: 0 1rem;
  padding: 0 0.5rem;
}

form label.top,
form div {
  display: block;
  padding-top: 1rem;
  color: #003561;
  font-size: 15px;
  }

form label.top input,
form label top.select {
/* webkit added for chrome & Safari since not following rules here and this will override the default appearance */
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px; /* to make edges on input box rounded */
  padding: 0.75rem; /* applied  for the min height requirement of 44px */
  color: #555;
  width: 100%; /* for smaller screens */
  /* max-width: 20rem; /* for larger screens */
  background-color: rgba(0, 0, 0, 0.1);
}

.memlevel {
  font-size: 20px;
}
.sbs {
    display: block; /* so they stack on top of one another */
    padding: .50rem 0; /* applied to top and bottom for the min height requirement of 44px */
    color: #003561;
    
}

.submitBtn {
    display: flex;
    justify-content: center;
    border: none;
    background-color: #003561;
    color: #ffc30d;
    padding: .75rem .75rem;
    margin: 0 auto;
    width: 96%; /* for smaller screens */
    max-width: 20rem; /* for larger screens */   
}

.submitBtn:hover {
  color: white;
}

#comments {
  display: flex;
  width: 100%;
  height: 300px;
  margin: 10px 30px 20px 0;
}


form label.top input:required {
    border-left: #003561 solid 6px;
}

  
/* color will change when passed test */
form label.top input:required:valid {
    border-left: green solid 6px;
}

.dir-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 50px;
}

@media only screen and (max-width: 599px) {
  header img {
      width: 100%;
  }