@import url("https://fonts.googleapis.com/css2?family=Estonia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");


* {
  box-sizing: border-box;
  padding: 0;
  line-height: 1.1em;
}

body {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}

h1,
h2 {
  font-family: "Estonia", cursive;
  font-size: 40px;
}

h3,
h4 {
  font-family: "Lato", sans-serif;
}

header {
  background-color: white;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  font-size: 50px;
}

main {
  margin-left: 10px;
  margin-right: 10px;
}

nav button {
  margin-right: 90%;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: #ffc30d;
}

nav {
  background-color: #c3171d;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 2%;
  text-decoration: none;
  color: #ffc30d;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul li.active a {
  background-color: rgba(184, 196, 187, 0.2);
  color: black;
}

nav ul li a:hover {
  background-color: rgba(184, 196, 187, 0.4);
}

nav ul.hide {
  display: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

img {            /* use for very large image scale to correct size */
  max-width: 100%;
  max-height: 100%;
  display: flex; /* use display block to remove extra space below image */
}

/*the  parent container*/
.herodiv {
  margin: 0 auto;
  position: relative;
  
}
   
/*the child of .herodiv*/
.weathersummary {
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  position:absolute
  margin-left: 5%;
  background: radial-gradient(#eee, #DA9985);
  border: 3px solid black;
  padding: 10px;
  box-shadow: 0 0 50px rgb(55, 56, 58);
  opacity: .6;

}


.label {
  grid-column: 1;
  line-height: 30%;
  
}

.value {
  grid-column: 2;
  line-height: 30%;
 
}
#currently {
  text-transform: capitalize;
}

.eventBorder {
  border: 1px solid #000000;
  padding-left: 10px;
  margin: 20px 10px;
}

.local {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  
}

figure {
  margin: 0.25rem;
  padding: 1rem;
  background-color: #eee;
  border: 1px solid #bbb;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}



figure img { 
  width: 500px; 
  height: auto; 
  margin: 0;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 5px #999;
  
}

.contentbox {
  display: block;
  margin: 10px auto;
  border: 1px solid #000;
  padding: 15px;
}

.map-responsive {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

.map-responsive iframe{
  left:0;
  top:0;
  margin-top: 15px;
  height:80%;
  width:100%;
  position:absolute;
  box-shadow: 0 0 50px rgb(55, 56, 58);

}

.contact {
  position: relative;
  text-align: center;  
}


.social {      
 display: flex;
 align-items: center;
 justify-content: center; 
}

.social-icon {
  display: inline-block; 
  margin: 0 5px;
  margin-bottom: 10px;
}


footer {
margin: 0 auto;
text-align: center;
background-color: #c3171d;
color: #ffc30d;
padding-top: 20px;
height: 6em;
}

@media only screen and (max-width: 599px) {
  header img {
      width: 100%;
  }