/* @import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
*/

.contentbox {
  display: block;
  margin: 10px auto;
  border: 1px solid #000;
  padding: 15px;
}

* {
  box-sizing: border-box;
  padding: 0;
  line-height: 1.1em;
}

#banner {
    
    text-align: center;
    justify-content: center;
    padding: .5em;
    background-color: burlywood;
    font-weight: 500;
}

body {
  background-color: #b8c4bb;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

h1,
h2 {
  font-family: "Ubuntu Condensed", sans-serif;
}

h3,
h4 {
  font-family: "Roboto", sans-serif;
}



header {
  background-color: #c9d6ea;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

header img {
  height: 80px;
  width: auto;
}

.headings {
  display: flex;
  flex-direction: column;
}
.headings h1 {
  font-size: 2rem;
  margin: 0 0 0 17px;
}

.m {
  font-style: italic;
  font-size: small;
  margin-left: 25px;
  padding-top: 3px;
}
nav button {
  margin: 0.2rem 2%;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: #c9d6ea;
}

nav {
  background-color: #3c362a;
  font-family: Roboto, sans-serif;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 2%;
  text-decoration: none;
  color: #c9d6ea;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul li.active a {
  background-color: rgba(184, 196, 187, 0.2);
  color: #c9d6ea;
}

nav ul li a:hover {
  background-color: rgba(184, 196, 187, 0.4);
}

nav ul.hide {
  display: none;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

main {
  margin-left: 10px;
  margin-right: 10px;
}

/* img {            /* use for very large image scale to correct size */
/*    max-width: 100%;
/*   max-height: 100%; }
/*    display: flex; /* use display block to remove extra space below image */



  picture.hero-ph {
    display: block;
    width: 100%;
    Margin: 0 auto;
  }
     
  /*the child of .herodiv*/
 .weathersummary {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    position:absolute
    margin-left: 5%;
    top: 30px;
    left: 50px;
    background: radial-gradient(#eee, #4567aa);
    border: 3px solid #3c362a;
    padding: 1rem;
    box-shadow: 0 0 50px rgb(55, 56, 58);
    opacity: .6;

}


.label {
    grid-column: 1;
    line-height: 50%;
    
}

.value {
    grid-column: 2;
    line-height: 50%;
   
}

.article {
    padding-left: 20px;
    padding-right: 20px;
}


.grid { 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px,1fr));
    margin: 10px auto;
    border: 1px solid #000;
    padding: 15px;
    background-color: #C9D6EA;

}
.grid-col {
  border: 1px solid #333;
  text-align: center;
}
.grid-col:hover {
  opacity: 0.75;
  background-color: #C9D6EA;
  color: #3c362a;
}


.col-head {
	display: block;
	padding: 5px;
	border; 1px solid #333;
	text-align: center;
  font-weight: 700;
	font-size: 1rem;
	background-color: #3c362a;
	color: white;
}



.data {
	display: block;
	padding: 0 5px 5px;
	font-size: 0.8rem;
	text-align: center;
}



.sun1, .sun2, .sun3, .sun4, .sun5 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 100px;
        padding: 0.25rem;
    }

.article-img {
    float: right;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
}
.map-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    margin-top: 15px;
    height:80%;
    width:100%;
    position:absolute;
    box-shadow: 0 0 50px rgb(55, 56, 58);

}

.contact {
    position: relative;
    text-align: center;  
}


.social {      
   display: flex;
   align-items: center;
   justify-content: center; 
}

.social-icon {
    display: inline-block; 
    margin: 0 5px;
    margin-bottom: 10px;
}



footer {
  background-color: #c9d6ea;
  padding: 5px 0;
  height: 6em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

figure {
  margin: 0.25rem;
  padding: 0.35rem;
  background-color: #eee;
  border: 1px solid #bbb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img { 
  width: 300px; 
  height: auto; 
  margin: 0;
}
figcaption {
  font-size: smaller;
  text-align: center;
}
/* hover effect */
.sun:hover {
  box-shadow: 0 0 80px #333;
}
.wind:hover {
  box-shadow: 0 0 80px #333;
}
.rain:hover {
  box-shadow: 0 0 80px #333;
}
.rainbow:hover {
  box-shadow: 0 0 80px #333;
}
.thunder:hover {
  box-shadow: 0 0 80px #333;
}
.hail:hover {
  box-shadow: 0 0 80px #333;
}
.snow:hover {
  box-shadow: 0 0 80px #333;
}
.cold:hover {
  box-shadow: 0 0 80px #333;
}
.icy:hover {
  box-shadow: 0 0 80px #333;
}








@media only screen and (min-width: 220px) {
    header img {
        width: 100%;
    }
