@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");

h1 {
  font-family: "Ubuntu Condensed", sans-serif;
}

img{
	width: 300px; height: 400px;
	display: inline-block;
	margin: 50px;
	box-shadow: 0 0 20px rgb(26, 24, 24);

picture img[data-src] {
  filter: blur(0.2em);
}

picture img {
  filter: blur(0em);
  transition: filter 0.5s;
}
