@media only screen and (min-width: 481px) and (max-width: 1024px) {
  header img {
    width: 100%;
  }

  /*the  parent container*/
  .herodiv {
    margin: 0 auto;
    position: relative;
    font-weight: 500;
    max-height: 40%;
  }

  /*the child of .herodiv*
  .weathersummary {
    position: absolute;
    margin-left: 5%;
    left: 50 px;
    background: radial-gradient(#eee, #4567aa);
    border: 3px solid #3c362a;
    padding: 1.5rem;
    box-shadow: 0 0 50px rgb(55, 56, 58);
    opacity: 0.6;
  } */

  figcaption {
    display: none;
  }

  /* main {
    padding-left: 50px;
    padding-right: 50px;
  } */

  div.cards section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  div.cards section:nth-child(odd) div {
    grid-column: 2;
  }

  div.cards section:nth-child(odd) img {
    grid-column: 1;
    grid-row: 1;
  }

  div.cards img {
    width: 100%;
    height: auto;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 5px 5px 5px rgb(129, 127, 127);
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
