* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  margin: 0 auto;
  background-color: #c9ada7;
}

h1 {
  font-family: "Bradley Hand", serif;
  border: 1px solid #ccc;
  padding: 15px;
}

h2,
h3,
h4 {
  font-family: "Lucida Handwriting", cursive;
  padding: 0.25rem;
}

#emessage {
  visability: hidden;
  margin: 1rem;
  border: 1px solid #777;
  padding: 0.5rem;
  font-size: 0.8rem;
  background-color: indianred;
}

div.cards {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #4a4e69;
  grid-gap: 10px;
  padding: 5px;
}

div.cards section {
  padding: 5px;
  background-color: #f2e9e4;
  max-width: 90%;
}

img {
  max-width: 75%;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  box-shadow: 8px 8px 8px #999;
}

/* .cards section:nth-child(even) {
  background-color: grey;
}

/* .cards .highlight {
  color: blue;
}  */

section img {
  width: 100%;
  height: auto;
}

footer {
  padding: 20px;
  text-align: center;
  margin: 20px auto;
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .cards {
    display: grid;
    grid-template-columns: repeat (2, 1fr);
  }
}

@media only screen and (min-width: 1025px) and (max-width: 2500px) {
  .cards {
    display: grid;
    grid-template-columns: repeat (4, 1fr);
  }
}
