@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
html {
  font-family: "Ubuntu", sans-serif;
}

table {
  margin: 10px auto;
  border: thin solid rgb(112, 106, 106);
  box-shadow: 5px 5px 5px #628ca6;
  border-collapse: collapse;
}

tr:first-child th {
  font-size: x-large;
  background-color: #7fb9c2;
  color: black;
}

th,
td {
  padding: 15px 30px;
  border: thin solid rgb(112, 106, 106);
  font-size: 20px;
}

th {
  background-color: #628ca6;
  color: white;
  font-weight: bold;
}

td {
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: #e7ffed;
}

tbody tr:nth-child(odd) {
  background-color: #e7f0ed;
}

tfoot {
  background-color: #7fb9c2;
}

tfoot td {
  font-size: smaller;
}
