@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");

html {
  font-family: "Ubuntu", sans-serif;
}

table {
  margin: 10px auto;
  border: thin solid rgb(200, 200, 200);
  box-shadow: 10px 5px 5px #628ca6;
  border-collapse: collapse;
}

thead,
tfoot {
  background-color: #7fb9c2;
}

tr:first-child th {
  background-color: var(--back);
  color: var(--forelight);
}

th,
td {
  padding: 7px 15px;
  border: 1px solid;
}

th {
  background-color: #628ca6;
}

td {
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: #e7ffed;
}

tbody tr:nth-child(odd) {
  background-color: #e7f0ed;
}
